@import url("https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"); /* ROBOTO FONT */
@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Noto+Naskh+Arabic:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"); /* Logo Font */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

.header {
  color: #f9faf8;
  /* background: url(./images/bg.webp); */
  background-color: #1f2937;
  /* background-blend-mode: overlay; */
}

.container {
  max-width: 900px;
  /* max-width: 80%; */
  margin: auto;
}

.header-container {
  height: 450px;
  padding: 24px 0;
}

.navbar {
  color: #e5e7eb;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: "Agbalumo", system-ui;
  font-size: 20px;
  color: #f9faf8;
}

.nav-links ul {
  display: flex;
  gap: 10px;
}

.nav-links ul li a {
  padding: 10px 16px;
  transition: all 0.4s ease-in-out;
  border-radius: 10px;
}

.nav-links ul li a:hover {
  color: #1f2937;
  background-color: #e5e7eb;
}

a {
  color: inherit;
  text-decoration: none;
  display: block;
}

.header-content {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.header-content div {
  flex: 1;
}

.header-text h1 {
  font-weight: 900;
  color: #f9faf8;
  font-size: 44px;
}

.header-text p {
  color: #e5e7eb;
  font-size: 18px;
  margin-bottom: 10px;
}

.header-image {
  /* without a height the background url wouldn't work  */
  height: 230px;
  border-radius: 10px;
  background: url(./images/header.jpg);
  background-color: #1f2937;
  background-size: cover;
  background-blend-mode: luminosity; /* overlay color for image */
}

button.sign-up {
  background-color: #3882f6;
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  color: #f9faf8;
  font-weight: 900;
  transition: all 0.4s ease-in-out;
}

button.sign-up:hover {
  background-color: #e5e7eb;
  color: #1f2937;
}

.article-container .container h1 {
  color: #1f2937;
  font-weight: 900;
  font-size: 36px;
  text-align: center;
  margin-bottom: 10px;
}

.article-container {
  display: flex;
  align-items: center;
  height: 550px;
}

.article-container .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.cards-container {
  display: flex;
  gap: 20px;
  max-width: 90%;
}

.cards {
  text-align: center;
  flex: 0 1 1;
}

.cards .img {
  border-radius: 10px;
  width: inherit;
  height: 180px;
  margin-bottom: 10px;
  background-blend-mode: luminosity; /* overlay color for image */
}

.cards-container .cards:first-child .img {
  background: url(./images/card01.webp);
  background-color: #1f2937;
  background-size: cover;
}

.cards-container .cards:last-child .img {
  background: url(./images/card04.webp);
  background-color: #1f2937;
  background-size: cover;
}

.cards-container .cards:nth-child(2) .img {
  background: url(./images/card02.webp);
  background-color: #1f2937;
  background-size: cover;
}

.cards-container .cards:nth-child(3) .img {
  background: url(./images/card03.webp);
  background-color: #1f2937;
  background-size: cover;
}

.quote-container {
  background-color: #e5e7eb;
  padding: 100px 0;
}

.quote-container .container p {
  font-size: 36px;
  font-style: italic;
  font-weight: 200;
  text-align: justify;
}

.quote-container .container h3 {
  text-align: right;
}

.quote-container .container {
  max-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote-container .container .texts {
  max-width: 90%;
}

.signup-container {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-container .signup-card {
  background-color: #3882f6;
  flex: 1;
  color: #f9faf8;
  display: flex;
  padding: 30px 50px;
  justify-content: space-between;
  border-radius: 10px;
}

button.sign-up2 {
  background-color: #3882f6;
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  color: #f9faf8;
  font-weight: 900;
  transition: all 0.4s ease-in-out;
  outline: 2px solid #f9faf8;
}

button.sign-up2:hover {
  background-color: #e5e7eb;
  color: #1f2937;
}

.footer-container {
  background-color: #1f2937;
  padding: 30px 50px;
  text-align: center;
  color: #e5e7eb;
  font-weight: 500;
  font-size: 14px;
}
